In [3]:
import pandas as pd
import json

## 자동 이체

In [4]:
# 파일 경로
file_path = './data/키워드추출/자동이체키워드.xlsx'

# 파일 내용 읽기
data = pd.read_excel(file_path)

# 데이터의 첫 5행을 출력해 데이터의 구조를 확인
data.head()

                                             message
0  [Web발신] [신한은행] 장＊진 고객님께서 (주) 인터파크 업체(기관코드 1000...
1  [Web발신] [신한은행] 장＊진 고객님께서 주식회사 차이코퍼레이션(기관코드 C10...
2  [Web발신] [신한은행] 장＊진 고객님께서 차이코퍼레이션 업체(기관코드 00410...
3  [Web발신] [신한은행] 장＊진 고객님께서 비즈플레이(기관코드 K210100017...
4  [Web발신] [신한은행] 장＊진 고객님께서 비즈제로페이 업체(기관코드 004500...

In [5]:
new_data1 = [{
"BANK": "신한은행",
"COMPANY": "(주) 인터파크 업체"
},
{
"BANK": "신한은행",
"COMPANY": "주식회사 차이코퍼레이션"
},
{
"BANK": "신한은행",
"COMPANY": "차이코퍼레이션 업체"
},
{
"BANK": "신한은행",
"COMPANY": "비즈플레이"
},
{
"BANK": "신한은행",
"COMPANY": "비즈제로페이 업체"
},
{
"BANK": "카카오뱅크",
"COMPANY": "비바리퍼블리카(토스)"
},
{
"BANK": "카카오뱅크",
"COMPANY": "토스"
},
{
"BANK": "카카오뱅크",
"COMPANY": "국민은행"
},
{
"BANK": "신한은행",
"COMPANY": "국민은행"
},
{
"BANK": "신한은행",
"COMPANY": "(주)카카오페이"
},
{
"BANK": "신한은행",
"COMPANY": "카카오페이"
},
{
"BANK": "신한금융투자",
"COMPANY": "토스뱅크"
},
{
"BANK": "카카오뱅크",
"COMPANY": "토스뱅크"
},
{
"BANK": "신한은행",
"COMPANY": "토스뱅크"
},
{
"BANK": "신한금융투자",
"COMPANY": "비바리퍼블리카（토스）"
},
{
"BANK": "카카오뱅크",
"COMPANY": "KB국민카드"
},
{
"BANK": "신한금융투자",
"COMPANY": "ＫＢ국민카드"
},
{
"BANK": "신한은행",
"COMPANY": "KB국민카드"
},
{
"BANK": "신한은행",
"COMPANY": "토스증권"
},
{
"BANK": "신한은행",
"COMPANY": "신한카드"
},
{
"BANK": "KEB하나은행",
"COMPANY": "(주)에스비아이"
},
{
"BANK": "KEB하나은행",
"COMPANY": "(주)케이티인터"
},
{
"BANK": "KEB하나은행",
"COMPANY": "삼성생명보험"
},
{
"BANK": "KEB하나은행",
"COMPANY": "에스케이텔레콤"
},
{
"BANK": "KEB하나은행",
"COMPANY": "토스"
},
{
"BANK": "하나은행",
"COMPANY": "삼성화재해상보"
},
{
"BANK": "하나은행",
"COMPANY": "(주)엘지유플러스"
},
{
"BANK": "하나은행",
"COMPANY": "토스"
},
{
"BANK": "하나은행",
"COMPANY": "비바리퍼블리카(토스)"
},
{
"BANK": "하나은행",
"COMPANY": "(주)엘지유플러스"
},
{
"BANK": "하나은행",
"COMPANY": "토스"
}]

In [6]:
data['result'] = pd.Series([str(result) for result in new_data1])

data.head()

,message,result
0,[Web발신] [신한은행] 장＊진 고객님께서 (주) 인터파크 업체(기관코드 1000...,"{'BANK': '신한은행', 'COMPANY': '(주) 인터파크 업체'}"
1,[Web발신] [신한은행] 장＊진 고객님께서 주식회사 차이코퍼레이션(기관코드 C10...,"{'BANK': '신한은행', 'COMPANY': '주식회사 차이코퍼레이션'}"
2,[Web발신] [신한은행] 장＊진 고객님께서 차이코퍼레이션 업체(기관코드 00410...,"{'BANK': '신한은행', 'COMPANY': '차이코퍼레이션 업체'}"
3,[Web발신] [신한은행] 장＊진 고객님께서 비즈플레이(기관코드 K210100017...,"{'BANK': '신한은행', 'COMPANY': '비즈플레이'}"
4,[Web발신] [신한은행] 장＊진 고객님께서 비즈제로페이 업체(기관코드 004500...,"{'BANK': '신한은행', 'COMPANY': '비즈제로페이 업체'}"

In [7]:
data.to_excel('./data/NER학습데이터/NER_자동이체.xlsx', index=False)

In [8]:
def find_substring_indices(message, result):
    annotations = []
    for key, value in result.items():
        start_index = message.find(value)
        if start_index != -1:  # Found the substring
            end_index = start_index + len(value)
            annotations.append((start_index, end_index, key.upper()))
    return annotations

In [9]:
# Convert the 'result' column back to dictionary format from string representation
data['result'] = data['result'].apply(lambda x: json.loads(x.replace("'", "\"")))

# Apply the function to find annotations for each row
data['annotations'] = data.apply(lambda row: find_substring_indices(row['message'], row['result']), axis=1)

# Show the DataFrame to confirm the 'annotations' column
data[['message', 'result', 'annotations']].head()

,message,result,annotations
0,[Web발신] [신한은행] 장＊진 고객님께서 (주) 인터파크 업체(기관코드 1000...,"{'BANK': '신한은행', 'COMPANY': '(주) 인터파크 업체'}","[(9, 13, BANK), (25, 36, COMPANY)]"
1,[Web발신] [신한은행] 장＊진 고객님께서 주식회사 차이코퍼레이션(기관코드 C10...,"{'BANK': '신한은행', 'COMPANY': '주식회사 차이코퍼레이션'}","[(9, 13, BANK), (25, 37, COMPANY)]"
2,[Web발신] [신한은행] 장＊진 고객님께서 차이코퍼레이션 업체(기관코드 00410...,"{'BANK': '신한은행', 'COMPANY': '차이코퍼레이션 업체'}","[(9, 13, BANK), (25, 35, COMPANY)]"
3,[Web발신] [신한은행] 장＊진 고객님께서 비즈플레이(기관코드 K210100017...,"{'BANK': '신한은행', 'COMPANY': '비즈플레이'}","[(9, 13, BANK), (25, 30, COMPANY)]"
4,[Web발신] [신한은행] 장＊진 고객님께서 비즈제로페이 업체(기관코드 004500...,"{'BANK': '신한은행', 'COMPANY': '비즈제로페이 업체'}","[(9, 13, BANK), (25, 34, COMPANY)]"

In [10]:
data.to_excel('./data/NER학습데이터/NER_자동이체.xlsx', index=False)