In [1]:
import pandas as pd
import json

## 결제 거절 진행

In [3]:
# 파일 경로
file_path = './data/키워드추출/결제거절키워드.xlsx'

# 파일 내용 읽기
data = pd.read_excel(file_path)

# 데이터의 첫 5행을 출력해 데이터의 구조를 확인
data.head()

                                             message
0  [Web발신] [신한체크거절] 장*진(8730) 04/24 03:54 17,400원...
1  [Web발신] [신한체크거절] 장*진(8730) 05/07 10:41 18,310원...
2  [Web발신] [신한체크거절] 장*진(8730) 08/29 11:58 29,000원...
3  [Web발신] [신한체크거절] 장*진(8730) 09/01 17:25 19,000원...
4  [Web발신] [신한체크거절] 장*진(8730) 09/01 17:25 19,000원...

In [14]:
new_data1 = [{
"Method":"신한체크",
"Location":"-",
"Time":"04/24 03:54",
"Cost":"17,400원",
"REJECTION_REASON": "예금잔액부족"
},
{
"Method":"신한체크",
"Location":"-",
"Time":"05/07 10:41",
"Cost":"18,310원",
"REJECTION_REASON": "예금잔액부족"
},
{
"Method":"신한체크",
"Location":"-",
"Time":"08/29 11:58",
"Cost":"29,000원",
"REJECTION_REASON": "예금잔액부족"
},
{
"Method":"신한체크",
"Location":"-",
"Time":"09/01 17:25",
"Cost":"19,000원",
"REJECTION_REASON": "예금잔액부족"
},
{
"Method":"신한체크",
"Location":"-",
"Time":"09/01 17:25",
"Cost":"19,000원",
"REJECTION_REASON": "예금잔액부족"
},
{
"Method":"신한체크",
"Location":"-",
"Time":"09/03 00:54",
"Cost":"65,000원",
"REJECTION_REASON": "예금잔액부족"
},
{
"Method":"신한체크",
"Location":"-",
"Time":"09/20 01:03",
"Cost":"9,000원",
"REJECTION_REASON": "예금잔액부족"
},
{
"Method":"신한체크",
"Location":"옥션",
"Time":"12/04 01:28",
"Cost":"22,900원",
"REJECTION_REASON": "-"
},
{
"Method":"신한체크",
"Location":"강원대학교생활협동조합",
"Time":"02/14 12:27",
"Cost":"1,000원",
"REJECTION_REASON": "-"
},
{
"Method":"신한체크",
"Location":"강원대학교생활협동조합",
"Time":"02/14 12:28",
"Cost":"1,000원",
"REJECTION_REASON": "-"
},
{
"Method":"신한체크",
"Location":"-",
"Time":"08/14 13:52",
"Cost":"20,500원",
"REJECTION_REASON": "예금잔액부족"
},
{
"Method":"KB국민카드",
"Location":"김치만선생",
"Time":"09/14 17:50",
"Cost":"-",
"REJECTION_REASON": "한도초과"
},
{
"Method":"KB국민카드",
"Location":"할리스커피 을지",
"Time":"10/15 18:49",
"Cost":"-",
"REJECTION_REASON": "한도초과"
},
{
"Method":"KB국민카드",
"Location":"주식회사더스윙",
"Time":"10/16 13:39",
"Cost":"-",
"REJECTION_REASON": "한도초과"
},
{
"Method":"KB국민카드",
"Location":"쿠팡(쿠페이)",
"Time":"10/16 19:52",
"Cost":"-",
"REJECTION_REASON": "한도초과"
},
{
"Method":"신한체크",
"Location":"-",
"Time":"06/06 19:50",
"Cost":"14,500원",
"REJECTION_REASON": "예금잔액부족"
},
{
"Method":"신한체크",
"Location":"IHERB IHER",
"Time":"06/20 23:31",
"Cost":"KRW 132,693",
"REJECTION_REASON": "-"
},
{
"Method":"신한체크",
"Location":"-",
"Time":"06/20 23:39",
"Cost":"KRW 132,693",
"REJECTION_REASON": "예금잔액부족"
},
{
"Method":"KB국민체크",
"Location":"롯데리아 야탑역",
"Time":"08/21 19:23",
"Cost":"-",
"REJECTION_REASON": "출금 가능한 금액이 부족합니다"
},
{
"Method":"KB국민체크",
"Location":"롯데리아 야탑역",
"Time":"08/21 19:23",
"Cost":"-",
"REJECTION_REASON": "출금 가능한 금액이 부족합니다"
},
{
"Method":"KB국민카드",
"Location":"씨유 동국대기숙",
"Time":"08/23 20:59",
"Cost":"-",
"REJECTION_REASON": "IC카드로 다시 시도해주세요"
},
{
"Method":"하나카드",
"Location":"코웨이(주)",
"Time":"-",
"Cost":"26,400원",
"REJECTION_REASON": "-"
},
{
"Method":"하나카드",
"Location":"코웨이(주)",
"Time":"-",
"Cost":"26,400원",
"REJECTION_REASON": "-"
},
{
"Method":"하나카드",
"Location":"코웨이(주)",
"Time":"-",
"Cost":"26,400원",
"REJECTION_REASON": "-"
},
{
"Method":"하나카드",
"Location":"코웨이(주)",
"Time":"-",
"Cost":"26,400원",
"REJECTION_REASON": "-"
},
{
"Method":"하나카드",
"Location":"코웨이(주)",
"Time":"-",
"Cost":"26,400원",
"REJECTION_REASON": "-"
},
{
"Method":"하나카드",
"Location":"코웨이(주)",
"Time":"-",
"Cost":"26,400원",
"REJECTION_REASON": "-"
},
{
"Method":"신한",
"Location":"-",
"Time":"09/30 12:10",
"Cost":"1,000,000원",
"REJECTION_REASON": "비밀번호오류"
},
{
"Method":"신한카드",
"Location":"쿠쿠렌탈료",
"Time":"10/17 09:41",
"Cost":"37,900원",
"REJECTION_REASON": "잔액한도부족"
},
{
"Method":"신한카드",
"Location":"쿠쿠렌탈료",
"Time":"10/20 09:26",
"Cost":"37,900원",
"REJECTION_REASON": "잔액한도부족"
},
{
"Method":"신한카드",
"Location":"쿠쿠렌탈료",
"Time":"10/25 11:17",
"Cost":"37,900원",
"REJECTION_REASON": "잔액한도부족"
},
{
"Method":"신한카드",
"Location":"(주)롯데월드",
"Time":"11/03 19:00",
"Cost":"15,900원",
"REJECTION_REASON": "할인대상카드아님"
},
{
"Method":"하나카드",
"Location":"코웨이(주)",
"Time":"-",
"Cost":"26,400원",
"REJECTION_REASON": "-"
},
{
"Method":"신한카드",
"Location":"모두교육평생교",
"Time":"02/09 18:28",
"Cost":"108,000원",
"REJECTION_REASON": "교체카드입니다"
},
{
"Method":"하나카드",
"Location":"코웨이(주)",
"Time":"-",
"Cost":"26,400원",
"REJECTION_REASON": "-"
},
{
"Method":"신한카드",
"Location":"쿠팡",
"Time":"02/22 02:16",
"Cost":"42,300원",
"REJECTION_REASON": "교체카드입니다"
},
{
"Method":"신한카드",
"Location":"G마켓",
"Time":"03/20 18:45",
"Cost":"16,900원",
"REJECTION_REASON": "교체카드입니다"
},
{
"Method":"하나카드",
"Location":"코웨이(주)",
"Time":"-",
"Cost":"26,400원",
"REJECTION_REASON": "-"
},
{
"Method":"하나카드",
"Location":"코웨이(주)",
"Time":"-",
"Cost":"26,400원",
"REJECTION_REASON": "-"
},
{
"Method":"하나카드",
"Location":"코웨이(주)",
"Time":"-",
"Cost":"26,400원",
"REJECTION_REASON": "-"
},
{
"Method":"신한카드",
"Location":"티머니 택시",
"Time":"06/20 22:21",
"Cost":"8,200원",
"REJECTION_REASON": "잔액한도부족"
},
{
"Method":"신한카드",
"Location":"티머니 택시",
"Time":"06/20 22:21",
"Cost":"8,200원",
"REJECTION_REASON": "잔액한도부족"
},
{
"Method":"현대카드",
"Location":"씨유성수사랑점",
"Time":"2017/08/07",
"Cost":"15,000 원",
"REJECTION_REASON": "거래정지된 카드"
},
{
"Method":"신한카드",
"Location":"티머니 택시",
"Time":"08/18 22:36",
"Cost":"5,700원",
"REJECTION_REASON": "잔액한도부족"
},
{
"Method":"신한카드",
"Location":"티머니 택시",
"Time":"08/18 22:36",
"Cost":"5,700원",
"REJECTION_REASON": "잔액한도부족"
},
{
"Method":"MG체크카드",
"Location":"-",
"Time":"-",
"Cost":"-",
"REJECTION_REASON": "체크카드 계좌잔액 부족"
},
{
"Method":"하나",
"Location":"-",
"Time":"02/25 13:35",
"Cost":"37,900원",
"REJECTION_REASON": "계좌잔액부족"
},
{
"Method":"하나",
"Location":"-",
"Time":"02/20 08:24",
"Cost":"37,900원",
"REJECTION_REASON": "계좌잔액부족"
},
{
"Method":"하나",
"Location":"-",
"Time":"02/15 09:32",
"Cost":"37,900원",
"REJECTION_REASON": "계좌잔액부족"
}]

In [15]:
data['result'] = pd.Series([str(result) for result in new_data1])

data.head()

,message,result
0,"[Web발신] [신한체크거절] 장*진(8730) 04/24 03:54 17,400원...","{'Method': '신한체크', 'Location': '-', 'Time': '0..."
1,"[Web발신] [신한체크거절] 장*진(8730) 05/07 10:41 18,310원...","{'Method': '신한체크', 'Location': '-', 'Time': '0..."
2,"[Web발신] [신한체크거절] 장*진(8730) 08/29 11:58 29,000원...","{'Method': '신한체크', 'Location': '-', 'Time': '0..."
3,"[Web발신] [신한체크거절] 장*진(8730) 09/01 17:25 19,000원...","{'Method': '신한체크', 'Location': '-', 'Time': '0..."
4,"[Web발신] [신한체크거절] 장*진(8730) 09/01 17:25 19,000원...","{'Method': '신한체크', 'Location': '-', 'Time': '0..."

In [16]:
data.to_excel('./data/NER학습데이터/NER_결제거절.xlsx', index=False)

In [17]:
def find_substring_indices(message, result):
    annotations = []
    for key, value in result.items():
        start_index = message.find(value)
        if start_index != -1:  # Found the substring
            end_index = start_index + len(value)
            annotations.append((start_index, end_index, key.upper()))
    return annotations

In [18]:
# Convert the 'result' column back to dictionary format from string representation
data['result'] = data['result'].apply(lambda x: json.loads(x.replace("'", "\"")))

# Apply the function to find annotations for each row
data['annotations'] = data.apply(lambda row: find_substring_indices(row['message'], row['result']), axis=1)

# Show the DataFrame to confirm the 'annotations' column
data[['message', 'result', 'annotations']].head()

,message,result,annotations
0,"[Web발신] [신한체크거절] 장*진(8730) 04/24 03:54 17,400원...","{'Method': '신한체크', 'Location': '-', 'Time': '0...","[(9, 13, METHOD), (27, 38, TIME), (39, 46, COS..."
1,"[Web발신] [신한체크거절] 장*진(8730) 05/07 10:41 18,310원...","{'Method': '신한체크', 'Location': '-', 'Time': '0...","[(9, 13, METHOD), (27, 38, TIME), (39, 46, COS..."
2,"[Web발신] [신한체크거절] 장*진(8730) 08/29 11:58 29,000원...","{'Method': '신한체크', 'Location': '-', 'Time': '0...","[(9, 13, METHOD), (27, 38, TIME), (39, 46, COS..."
3,"[Web발신] [신한체크거절] 장*진(8730) 09/01 17:25 19,000원...","{'Method': '신한체크', 'Location': '-', 'Time': '0...","[(9, 13, METHOD), (27, 38, TIME), (39, 46, COS..."
4,"[Web발신] [신한체크거절] 장*진(8730) 09/01 17:25 19,000원...","{'Method': '신한체크', 'Location': '-', 'Time': '0...","[(9, 13, METHOD), (27, 38, TIME), (39, 46, COS..."

In [19]:
data.to_excel('./data/NER학습데이터/NER_결제거절.xlsx', index=False)