In [36]:
import pandas as pd
import json

## 결제 취소 진행

In [37]:
# 파일 경로
file_path = './data/키워드추출/결제취소키워드.xlsx'

# 파일 내용 읽기
data = pd.read_excel(file_path)

# 데이터의 첫 5행을 출력해 데이터의 구조를 확인
data.head()

                                             message
0  [Web발신] [신한체크취소] 장*진(8730) 04/18 11:13 (금액)3,7...
1  [Web발신] [신한체크취소] 장*진(8730) 05/07 10:42 (금액)18,...
2  [Web발신] [신한체크취소] 장*진(8730) 01/19 02:26 (금액)9,0...
3  [Web발신] [신한체크취소] 장*진(8730) 01/25 17:46 (금액)21,...
4  [Web발신] [신한체크취소] 장*진(4384) 02/13 19:23 (금액)6,0...

In [38]:
new_data1 = [
    {
        "Method": "신한체크취소",
        "Location": "구글플레이",
        "Time": "04/18 11:13",
        "Cost": "3,700원"
    },
    {
        "Method": "신한체크취소",
        "Location": "국군복지단",
        "Time": "05/07 10:42",
        "Cost": "18,310원"
    },
    {
        "Method": "신한체크취소",
        "Location": "네이버페이",
        "Time": "01/19 02:26",
        "Cost": "9,050원"
    },
    {
        "Method": "신한체크취소",
        "Location": "네이버페이",
        "Time": "01/25 17:46",
        "Cost": "21,650원"
    },
    {
        "Method": "신한체크취소",
        "Location": "GS25 김유정역점",
        "Time": "02/13 19:23",
        "Cost": "6,000원"
    },
    {
        "Method": "신한체크취소",
        "Location": "(주)이마트 성남점",
        "Time": "03/02 17:35",
        "Cost": "8,980원"
    },
    {
        "Method": "신한체크해외취소",
        "Location": "OPENAI",
        "Time": "07/03 23:15",
        "Cost": "5.00 달러 (US)"
    },
    {
        "Method": "승인취소",
        "Location": "GS25성수테크노점",
        "Time": "03/19 21:38",
        "Cost": "5,200원"
    },
    {
        "Method": "신한카드취소",
        "Location": "풀스윙골프클",
        "Time": "04/10 14:33",
        "Cost": "330,000원"
    },
    {
        "Method": "신한카드취소",
        "Location": "펜타스기숙학",
        "Time": "05/15 15:32",
        "Cost": "1,000,000원"
    },
    {
        "Method": "하나",
        "Location": "씨유구의크레신점",
        "Time": "07/29 15:24",
        "Cost": "3,000원"
    },
    {
        "Method": "우리카드",
        "Location": "티머니택시(법인)",
        "Time": "08/17 16:37",
        "Cost": "5,600원"
    },
    {
        "Method": "롯데",
        "Location": "공차 남부터미널점",
        "Time": "08/21 16:10",
        "Cost": "10,200원"
    },
    {
        "Method": "MG체크카드",
        "Location": "롯데쇼핑(주)잠실점",
        "Time": "07/02",
        "Cost": "89,000원"
    },
    {
        "Method": "MG체크카드",
        "Location": "에프알엘코리아(주)강*",
        "Time": "10/18",
        "Cost": "134,600원"
    },
    {
        "Method": "MG체크카드",
        "Location": "롯데쇼핑(주)롯데마트잠*",
        "Time": "11/06",
        "Cost": "52,800원"
    },
    {
        "Method": "MG체크카드",
        "Location": "롯데쇼핑(주)잠실점",
        "Time": "01/17",
        "Cost": "100,000원"
    },
    {
     "Method": "하나",
    "Location": "용궁노래방",
    "Time": "07/29 00:38",
    "Cost": "30,000원"
},
{
    "Method": "하나카드취소",
    "Location": "쿠팡(쿠페이)_KCP",
    "Time": "2021년09월04일",
    "Cost": "109,650"
},
{
    "Method": "하나",
    "Location": "쿠팡주식회사",
    "Time": "01/02 18:12",
    "Cost": "57,100원"
},
{
    "Method": "하나",
    "Location": "카카오페이(택시)",
    "Time": "08/28 02:10",
    "Cost": "8,100원"
},
{
    "Method": "MG체크카드",
    "Location": "롯데쇼핑(주)스타시티점",
    "Time": "10/20",
    "Cost": "116,100원"
},
{
    "Method": "하나",
    "Location": "쿠팡(쿠페이)",
    "Time": "12/03 09:26",
    "Cost": "34,540원"
},
{
    "Method": "하나",
    "Location": "쿠팡(쿠페이)",
    "Time": "10/31 08:22",
    "Cost": "20,160원"
},
{
    "Method": "하나",
    "Location": "쿠팡(쿠페이)",
    "Time": "05/03 20:49",
    "Cost": "10,630원"
}
]

In [39]:
data['result'] = pd.Series([str(result) for result in new_data1])

data.head()

,message,result
0,"[Web발신] [신한체크취소] 장*진(8730) 04/18 11:13 (금액)3,7...","{'Method': '신한체크취소', 'Location': '구글플레이', 'Tim..."
1,"[Web발신] [신한체크취소] 장*진(8730) 05/07 10:42 (금액)18,...","{'Method': '신한체크취소', 'Location': '국군복지단', 'Tim..."
2,"[Web발신] [신한체크취소] 장*진(8730) 01/19 02:26 (금액)9,0...","{'Method': '신한체크취소', 'Location': '네이버페이', 'Tim..."
3,"[Web발신] [신한체크취소] 장*진(8730) 01/25 17:46 (금액)21,...","{'Method': '신한체크취소', 'Location': '네이버페이', 'Tim..."
4,"[Web발신] [신한체크취소] 장*진(4384) 02/13 19:23 (금액)6,0...","{'Method': '신한체크취소', 'Location': 'GS25 김유정역점',..."

In [40]:
def find_substring_indices(message, result):
    annotations = []
    for key, value in result.items():
        start_index = message.find(value)
        if start_index != -1:  # Found the substring
            end_index = start_index + len(value)
            annotations.append((start_index, end_index, key.upper()))
    return annotations

In [41]:
# Convert the 'result' column back to dictionary format from string representation
data['result'] = data['result'].apply(lambda x: json.loads(x.replace("'", "\"")))

# Apply the function to find annotations for each row
data['annotations'] = data.apply(lambda row: find_substring_indices(row['message'], row['result']), axis=1)

# Show the DataFrame to confirm the 'annotations' column
data[['message', 'result', 'annotations']].head()

,message,result,annotations
0,"[Web발신] [신한체크취소] 장*진(8730) 04/18 11:13 (금액)3,7...","{'Method': '신한체크취소', 'Location': '구글플레이', 'Tim...","[(9, 15, METHOD), (50, 55, LOCATION), (27, 38,..."
1,"[Web발신] [신한체크취소] 장*진(8730) 05/07 10:42 (금액)18,...","{'Method': '신한체크취소', 'Location': '국군복지단', 'Tim...","[(9, 15, METHOD), (51, 56, LOCATION), (27, 38,..."
2,"[Web발신] [신한체크취소] 장*진(8730) 01/19 02:26 (금액)9,0...","{'Method': '신한체크취소', 'Location': '네이버페이', 'Tim...","[(9, 15, METHOD), (50, 55, LOCATION), (27, 38,..."
3,"[Web발신] [신한체크취소] 장*진(8730) 01/25 17:46 (금액)21,...","{'Method': '신한체크취소', 'Location': '네이버페이', 'Tim...","[(9, 15, METHOD), (51, 56, LOCATION), (27, 38,..."
4,"[Web발신] [신한체크취소] 장*진(4384) 02/13 19:23 (금액)6,0...","{'Method': '신한체크취소', 'Location': 'GS25 김유정역점',...","[(9, 15, METHOD), (50, 60, LOCATION), (27, 38,..."

In [42]:
data.to_excel('./data/NER학습데이터/NER_결제취소.xlsx', index=False)